{% extends "base.html" %}
{% block title%}
    Home Page
{% endblock %}

{% block content %}

    <div id="title">
        <div class="center">
            <h2><u>Welcome to my first website</u> </h2>
            <p>This is me trying to mess around with flask. There is a navigation bar at the top. You can create an account, login and purchase items on the site.</p>
            <br>
        </div>
    </div>
    
<div id="centralizedtext">

    <div class="row">
        <br>
        {%for count in range(12)%}
            &nbsp;
        {%endfor%}
        <h4>TV's</h4>

        &nbsp;
        &nbsp;
        <img src="static/images/home_pics/homepic1.webp" width="200" height="150" />
        <h4>Vaccum cleaners</h4>
        &nbsp;
        &nbsp;
        <img src="static/images/home_pics/homepic2.webp" width="200" height="150" />
        <h4>Computers</h4>
        &nbsp;
        &nbsp;
        <img src="static/images/home_pics/homepic3.jpg" width="200" height="150" />
    
    </div>
           
</div>

  

{% endblock %}
