{% extends "base.html" %}
{% block title%}
    Home Page
{% endblock %}

{% block content %}

<body style="overflow-x: hidden;">
        <div class="center">
            <h2><u>Welcome to my online store</u> </h2>
            <br>
        </div>
    
    

    <div class="row" style="position:relative; left:100px;">
        <br>
        <br>
        <br>
        <br>
        {%for count in range(35)%}
            &nbsp;
        {%endfor%}
        <div class="center;">
            <h4>Desktops</h4>
            <img src="static/images/computers/computer1.jpg" width="200" height="150" />
        </div>
       
        <div class="center;">
            <h4>Laptops</h4>

            <img src="static/images/laptops/laptop5.jpg" width="250" height="200" />
        </div>
      

    </div>
           

</body>

{% endblock %}
