{% extends "base.html" %}
{% block title%}
    Home Page
{% endblock %}

{% block content %}

    <div id="title">
        <div class="center">
            <h2><u>Welcome to my online store</u> </h2>
            <br>
        </div>
    </div>
    
<div id="centralizedtext">

    <div class="row">
        <br>
        <br>
        <br>
        {%for count in range(35)%}
            &nbsp;
        {%endfor%}
        <h4><div class id="home_tvs">TVs</div></h4>
        <img src="static/images/home_pics/homepic1.webp" width="200" height="150" />
        <h4><div class id="home_vaccums">Vaccum cleaners</div></h4>

        <img src="static/images/home_pics/homepic2.webp" width="200" height="150" />
        <h4><div class id="home_computers">Computers</div></h4>
        <img src="static/images/home_pics/homepic3.jpg" width="200" height="150" />
    
    </div>
           
</div>

  

{% endblock %}
