<html>
   
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css')}}">
</head>

<body style="overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border:groove; border-width: 1px;">
        <a class="navbar-brand" href="#">Computers Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {{hometab}} " href="/home">Home</a>
                <a class="nav-item nav-link  {{wishlist_tab}}" href="/wishlist">Wishlist</a>
                <a class="nav-item nav-link  {{basket_tab}}" href="/basket">Basket</a>
                {% if user!=None %}
               
                      
                <a class="nav-item nav-link" href="logout">Logout</a>
                  

                  &nbsp;&nbsp;&nbsp;

                  {% if admin.is_admin %}
                  <a class="nav-item nav-link" href="/admin">Admin panel</a>

                  {% endif %}
                 <a class="nav-item nav-link active">Logged in as, {{user}}</a>

             
                {% else %}
                
                <a class="nav-item nav-link {{registertab}}" href="register">Register</a>
                <a class="nav-item nav-link {{logintab}}" href="login">Sign in</a>
                {% endif %}
                
            </div>
        </div>
    
    </nav>
  
    <style>

        .center {
            text-align: center;
        }

    </style>



{% with messages = get_flashed_messages() %}
    {% if messages %}
     {% for msg in messages %}
        <h6 style="text-align: center;"> {{msg}} </h6>
     {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


</html>