{% extends "base.html" %}

{% block title%}
    Basket Page
{% endblock %}

{% block content %}
<div class id="blackout"></div>
<div id="title">
    <div class="center">
        <br>
       <h2> <u>Welcome to the basket page</u></h2>

    </div>

</div>

</div>

{% for key, value in cart.items() %}
<div class ="product-container" style="margin: 0 auto;" >
    <br>
    <br>
    <h4>&nbsp;{{ value[0] }}</h4>
    <img src="static/images/{{value[6]}}/{{value[3]}}" width="300" height="200" />
    {% if value[1] !=None %}
         <p>&nbsp; Price:&nbsp;£{{ value[2] }} X {{ value[1] }}</p>
    {% else %}
         <p>&nbsp; Price:&nbsp;£{{ value[2] }} X 1</p>
    {% endif %}
    <hr class="mt-0-mb-4">
    <a href="/{{value[4]}}"  target="blank" type="submit" value="submit" class="btn btn-outline-success">View more info</a>
    <a href="/basket/{{value[7]}}" button type="button" class="btn btn-outline-success">Remove</a>

   
    <br>
</div>
{% endfor %}

{% if subtotal >0 %}
<div class="center">
<br>
<p ><a  href="/basket/all"  button type="button" class="btn btn-outline-success" >Remove all</a></p>
<br>

<h4 >Total Price: £{{subtotal}}&nbsp;&nbsp;<a href="/checkout"  button type="button" class="btn btn-outline-success" >Checkout</a> </h4> 
{% else %}
<h5 style="position: relative; top:30px; text-align: center;">No items in basket</h5>
{% endif %}

</div>


{% endblock %}
