{% extends "base.html" %}

{% block title%}
    Basket Page
{% endblock %}

{% block content %}
<div class id="blackout"></div>
<div id="title">
    <div class="center">
       <h2> <u>Welcome to the basket page</u></h2>

    </div>

</div>

</div>

{% for key, value in cart.items() %}
<div class ="product-container">
    <br>
    <br>
    <h4>&nbsp;{{ value[0] }}</h4>
    <img src="static/images/{{value[6]}}/{{value[3]}}" width="300" height="200" />
    {% if value[1] !=None %}
         <p>&nbsp; Price:&nbsp;£{{ value[2] }} X {{ value[1] }}</p>
    {% else %}
         <p>&nbsp; Price:&nbsp;£{{ value[2] }} X 1</p>
    {% endif %}
    <hr class="mt-0-mb-4">
    <a href="/{{value[4]}}"  target="blank" type="submit" value="submit" class="btn btn-outline-success">View more info</a>
    <a href="/basket/{{value[7]}}" button type="button" class="btn btn-outline-success">Remove</a>

   
    <br>
</div>
{% endfor %}

{% if subtotal >0 %}
<br>
<a href="/basket/all" button type="button" class="btn btn-outline-success">Remove all</a>
<br>
<br>
<h4>Total Price: £{{subtotal}}&nbsp;&nbsp;<button id="checkout" button type="button" class="btn btn-outline-success">Checkout</button> </h4> 
{% else %}
<h6>No items in basket</h6>
{% endif %}


<div class id="popup-container">
 
    <div class id="ordering">
        <h5>Items:<br></h5>
        
        {% for key, value in cart.items() %}
        
        <ul>    
            {% if value[6] !=None %}
              <li>&nbsp;{{value[0]}}&nbsp;:&nbsp;&nbsp;£{{value[2]}} X {{value[1]}}</li>
            {% else %}
              <li>&nbsp;{{value[0]}}&nbsp;:&nbsp;&nbsp;£{{value[2]}} X 1</li>
            
            {% endif %}
        </ul>
            
        {% endfor %}
   
        <h5>Total Price: £{{subtotal}}</h5>
        <br>
        <div class ="center">
            <div class id ="error_messages" style="color:red;"></div>
            <div class id="form">
                <form action='#' method="post">
                
                <p>Credit Card number (No spaces):</p>
                    <p> <input type="text" required  placeholder="Credit card number"  id ="cn"></p>
                
                    
                <p>Security number:</p>
                    <p> <input type="text" required  placeholder="Security number" id ="sn"/> </p>
                
                
                <p>Address 1:</p>
                    <p> <input type="text" required  placeholder="Address" id="ad1"/>  </p>

                    
                <p>Address 2 (Optional):</p>
                    <p> <input type="text"  placeholder="Address2" id="ad2" />  </p>
                
                <p>Postcode:</p>
                    <p> <input type="text" required placeholder="Postcode" id="ps" />  </p>
                
                </form>
            </div>
            
        <button id="confirm" button type="button" class="btn btn-outline-success">Confirm</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="cancel" button type="button" class="btn btn-outline-success">Cancel</button>
        </div>


      
</div>

    <div class id="ordered">
        <div class="center">
            <h5>Thanks for ordering! Your parcel will come soon</h5>
            <a href="/done" button id="done" button type="button" class="btn btn-outline-success">Done</a>
        </div>
      
    </div>
</div>

<script>
 
const credit_card_num = document.getElementById("cn");
const security_num = document.getElementById("sn");
const address1 = document.getElementById("ad1");
const address2 = document.getElementById("ad2");
const postcode = document.getElementById("ps");
const message = document.getElementById("error_messages");
    
const validateForm =() =>{
    let messages = [];
    let valid = true;
    let numbers = (/^[0-9]+$/);
    postcode.value = postcode.value.replace(/\s/g, "");
    const postcode_reqs =  /^[A-Z]{1,2}[0-9]{1,2} ?[0-9][A-Z]{2}$/i;

    if(!credit_card_num.value.match(numbers) || credit_card_num.value.length != 16){
        messages.push("<li> Credit card number is invalid </li>");
        valid=false;
    }

    if(!security_num.value.match(numbers) || (security_num.value.length < 3 || security_num.value.length > 4)){
        messages.push("<li> Security number is invalid </li>");
        valid=false;
    }

    if(!postcode_reqs.test(postcode.value)){
        messages.push("<li> Postcode is invalid </li>");
        valid=false;
    }

    if(address1.value.length == 0){
        messages.push("<li> Address is invalid </li>");
        valid=false;
    }
    message.innerHTML = messages.join("");

    return valid;

    
}



    
      
</script>

<script>
    document.getElementById("checkout").addEventListener("click", function(){
        document.getElementById("blackout").style.display="flex";
        document.getElementById("popup-container").style.display="flex";
        document.getElementById("ordered").style.display="none";

   

    })
   
 
    document.getElementById("confirm").addEventListener("click", function(){
        if (validateForm()){
            document.getElementById("ordered").style.display="flex";
            document.getElementById("ordering").style.display="none";
        }
        
        else{
            document.getElementById("popup-container") .scrollTop = 0;
        }


    })

    
    document.getElementById("cancel").addEventListener("click", function(){
        document.getElementById("blackout").style.display="none";
        document.getElementById("popup-container").style.display="none";
    
    })
    document.getElementById("blackout").addEventListener("click", function(){
        document.getElementById("blackout").style.display="none";
        document.getElementById("popup-container").style.display="none";
    
    })
    
    document.getElementById("done").addEventListener("click", function(){
       
        document.getElementById("blackout").style.display="none";
        document.getElementById("popup-container").style.display="none";
        document.getElementById("ordered").style.display="none";
        
    })



</script>



{% endblock %}
