{% extends "base.html" %}
{% block title%}
 Home page
{% endblock %}

{% block content %}

   <div class="center">
      <h2> <u>Welcome to the home page</u></h2>

   </div>

   <br>
   <a href="/order/default"  type="submit" value="submit" class="btn btn-outline-success">Default</a>
   <a href="/order/asc"  type="submit" value="submit" class="btn btn-outline-success">Order from smallest price</a>
   <a href="/order/desc"  type="submit" value="submit" class="btn btn-outline-success">Order from largest price</a>

<br>
<hr class="mt-0-mb-4">

<h3 style="position:relative; left:10px;"><u>Desktops</u></h3>
 {% for product in desktops %}
    <div class ="product-container">
    <br>
    <br>
   
      <a href = "/{{product.id}}" target="blank"><button style="border:none; background-color: whitesmoke;"><h5>{{product.name}}</h5></button></a>
      <a href = "/{{product.id}}"  target="blank"><img src="static/images/{{product.Type}}/{{product.picfile}}" width="300" height="200" /></a>
 
      <p>&nbsp; Price:&nbsp;£{{product.price}}</p>
      <form action='#' method="post">
         
     </form>
     <hr class="mt-0-mb-4">
   <a href="/button/{{product.id}}/{{product.Type}}"  type="submit" value="submit" class="btn btn-outline-success">Add to basket</a>
   <a href="/wishlist/{{product.id}}/{{product.Type}}"  type="submit" value="submit" class="btn btn-outline-success">Add to wishlist</a>
   <a href="/{{product.id}}"  target="blank" type="submit" value="submit" class="btn btn-outline-success">View more info</a>
   
   </div>
   <hr class="mt-0-mb-4">
{% endfor %}

<h3 style="position:relative; left:10px;"><u>Laptops</u></h3>

{% for product in laptops %}
<div class ="product-container">
   <br>
   <br>
  
     <a href = "{{product.id}}" target="blank"><button style="border:none; background-color: whitesmoke;"><h5>{{product.name}}</h5></button></a>
     <a href = "{{product.id}}"  target="blank"><img src="static/images/{{product.Type}}/{{product.picfile}}" width="300" height="200" /></a>

     <p>&nbsp; Price:&nbsp;£{{product.price}}</p>
     <form action='#' method="post">
        
    </form>
    <hr class="mt-0-mb-4">
  <a href="/button/{{product.id}}/{{product.Type}}"  type="submit" value="submit" class="btn btn-outline-success">Add to basket</a>
  <a href="/wishlist/{{product.id}}/{{product.Type}}"  type="submit" value="submit" class="btn btn-outline-success">Add to wishlist</a>
  <a href="{{product.id}}"  target="blank" type="submit" value="submit" class="btn btn-outline-success">View more info</a>
  </div>

<hr class="mt-0-mb-4">
{% endfor %}

{% endblock %}
