{% extends "base.html" %}
{% block title%}
 {{page_name}} Page
{% endblock %}

{% block content %}




<div id="title">
   <div class="center">
      <h2> <u>Welcome to the {{page_name}} page</u></h2>

      <p>From time to time I will show a whole bunch of items with different prices.</p>
   </div>
</div>


 {% for product in database %}
 
    <div class id ="product-container">
    <br>
    <br>
      <h4>&nbsp;{{product[2]}}</h4>
      <img src="static/images/{{foldername}}/{{product[5]}}" width="300" height="200" />
      <p>&nbsp;{{product[3]}}</p>
      <p>&nbsp; Price:&nbsp;£{{product[4]}}</p>
      <form action='#' method="post">
         <h6>Quantity:</h6>
         <select id="dropdown" name="dropdown">
         </select>
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit">Enter</button>
     </form>
      &nbsp;&nbsp;<a href="/button/{{product[0]}}/{{product[1]}}"  type="submit" value="submit" class="btn btn-outline-success">Add to basket</a>
         
   </div>

{% endfor %}

<script>

var options = document.getElementById("dropdown");
var contents;
for (let i = 1; i <= 100; i++) {
  contents += "<option>" + i + "</option>";
}
options.innerHTML = contents;

</script>

{% endblock %}
