{% extends "base.html" %}
{% block title%}
 {{page_name}} Page
{% endblock %}

{% block content %}




<div id="title">
   <div class="center">
      <h2> <u>Welcome to the {{page_name}} page</u></h2>

      <p>From time to time I will show a whole bunch of items with different prices.</p>
   </div>
</div>


<div>

 {% for product in database %}
    <br>
    <br>
    <br>
    <h4>&nbsp;{{product[2]}}</h4>
    <img src="static/images/{{foldername}}/{{product[5]}}" width="300" height="200" />
    <p>&nbsp;{{product[3]}}</p>
    <p>&nbsp; Price:&nbsp;£{{product[4]}}</p>
    &nbsp;&nbsp; <a href="{{user}}/id={{product[0]}}/purchased" button type="button" class="btn btn-outline-success">Buy now</a>
  
{% endfor %}


</div>


{% endblock %}
