{% extends "base.html" %}
{% block title%}
    Register Page
{% endblock %}

{% block content %}
  

<div class="center">
    <p style="text-align: center; font-size: large; position: relative; top:10px;">Password:</p>
    <li class="req">Must be atleast 9 characters long</li>
    <li class="req">Contains atleast one uppercase character + number</li>
    <li class="req">Contains atleast one of these symbols: !,£,$,%,^,&,*,(,)</li>
    <br>
<form action='#' method="post">


<p>Email:</p>
    <p> <input type="email" placeholder="Email" name="em" required />  </p>

<p>Password:</p>
    <p><input type="password" placeholder="Password" name="ps" required  /></p>

<p> Confirm password:</p>
    <p><input type="password" placeholder="confirm password" name="cps"  required  /></p>


<button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit"  >Enter</button>

</form>

</div>


{% endblock %}