{% extends "base.html" %}
{% block title%}
    Register Page
{% endblock %}

{% block content %}
  

<div class="center" style="position:relative; top:50px;">
<form action='#' method="post">


<p>Email:</p>
    <p> <input type="email" placeholder="Email" name="em" />  </p>

<p>Password:</p>
    <p><input type="password" placeholder="Password" name="ps"/></p>

<p> Confirm password:</p>
    <p><input type="password" placeholder="confirm password" name="cps"/></p>


<button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit">Enter</button>

</form>

</div>

{% endblock %}