


#title {
    color: black;
}

#footerbackground{
    background-color :lightgrey;
}

#centralizedtext{
    text-align: center;

}

input{
    margin: 20px auto;
    display: block;
    width: 20%;
    padding: 5px;
   
}

#home_tvs,#home_vaccums,#home_computers{
    position: absolute;
}

#home_tvs{
    left:370px;
}

#home_vaccums{
    bottom:330px;
    left:500px;
}

#home_computers{
    right:420px;
    top:230px;
}

#blackout{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#popup-container{
    background-color: #fefefe;
    height:500px;
    width: 900px;
    bottom:50px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
    overflow: scroll;
    position: relative;
    left:190px;
    z-index: 1;
    position:fixed;
    
}

#product-container{
    height:500x;
    width: 700px;
    border-style: solid;
    border-color: white;
    border-width:10px;
    background: whitesmoke;
}

#form{
    width:800px;
    padding:10px;
  
}

#ordered{
 position: absolute;
 left:220px;
 top:70px;

}

